<footer class="mt-5 border-top border-light">
    <div class="center my-5 py-5">
        <div>
            <a href="{{ path('homepage') }}" class="h3 text-primary">Cesi Blog</a>
        </div>
        <div>
            <ul class="nav center mr-auto ml-5 mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('blog') }}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>