{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container-md mt-5">
        <h1>Les articles du Blog</h1>
        <article class="card my-5 p-5">
            <p>Posté le : 23-04-2023</p>
            <h2 class="text-center">Titre de l'article</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, est exercitationem facere id illum itaque laboriosam laudantium nam nobis numquam obcaecati officiis omnis optio perspiciatis praesentium rem tempora vel vero?}</p>
            <div>
                <a class="btn btn-primary" href="#">Voir en détail</a>
            </div>
        </article>
    </div>
{% endblock %}